<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="sandwich" id="btn">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>
    <div class="menu" id="menu">
      <div class="menu-list">
        <ul>
          <% if(!locals.isAuthenticated) { %>
            <li><a href="/users">View Jobs</a></li>
          <% } %>
          <% if(locals.isAuthenticated) { %>
            <li><a href="/users/<%= user.id %>">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log In</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
