
<div class="landing-header">
  <div class="landing-container">
    <h1>BARZURK</h1>
    <h3 class="landing-sub">find pub jobs near you</h3>
  </div>
</div>
<div class="main">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img src="../assets/images/home_text.jpeg" alt="">
        </div>
        <div class="col-6 main-para">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="btn" href="/users">View All Jobs</a>
        </div>
      </div>
      <div class="row">
        <div class="col-6 main-para">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a class="btn">View All Jobs</a>
        </div>
        <div class="col-6">
          <img src="../assets/images/home_text.jpeg" alt="">
        </div>
    </div>
  </div>

</div>
