<div class="landing-header">
  <%# <nav>
    <ul>
      <li>
        <a class="" href="/login">Sign In</a></li>
      <li>
          <a class="" href="/register">Register</a>
      </li>
    </ul>
  </nav> %>
  <div class="landing-container">
    <h1>BARZURK</h1>
    <h3 class="landing-sub">find pub jobs near you</h3>
    <a class="btn round-btn" href="/users">View All Jobs</a>
  </div>
</div>
<div class="main">
  <div>
    <div class="container">
      <h3 class="text-center mt-5">What is Barzurk?</h3>
      <div class="row">
        <div class="landing-col col-md-4 col-sm-6">
          <h5>View jobs</h5>
          <p>Have a look and see which local businesses are hiring near you. Have a look at what's near you, <a href="/users"><strong>here</strong></a>!</p>
          <img src="../assets/images/job-map.svg" alt="View jobs image" />
        </div>
        <div class="landing-col col-md-4 col-sm-6">
          <h5>Post jobs</h5>
          <p>Post a job and let people see where you are and what you are looking for. Sound good? Why not register, <a href="/register"><strong>here</strong></a>!</p>
          <img src="../assets/images/job-post.svg" alt="Post jobs image" />
        </div>
        <div class="landing-col col-md-4 col-xs-6 offset-xs-3">
          <h5>Win Win!</h5>
          <p>Let Barzurk do the boring stuff so you don't have to!</p>
          <p>Let Barzurk do the boring stuff so you don't have to!</p>
          <img src="../assets/images/job-celebrate.svg" alt="Celebration image" />
        </div>
    </div>
  </div>
</div>
