
<div class="landing-header">
  <div class="landing-container">
    <h1>BARZURK</h1>
    <h3 class="landing-sub">find pub jobs near you</h3>
    <ul>
      <li>
        <a class="btn" href="/login">Sign In</a></li>
      <li>
          <a class="btn" href="/register">Register</a>
      </li>
    </ul>
  </div>

</div>
<div class="main">
  <div>
    <div class="container">
      <h3 class="text-center mt-5">What is Barzurk?</h3>
      <div class="row">
        <div class="col-lg-4">
          <h5>View jobs</h5>
          <p>Have a look and see which local businesses are hiring. Have a look at what's near you, <a href="/users"><strong>here</strong></a>!</p>
          <img src="../assets/images/job-map.svg" alt="" />
        </div>
        <div class="col-lg-4">
          <h5>Post jobs</h5>
          <p>Post a job and let people see where you are and what you are looking for. Sound good? Why not register, <a href="/register"><strong>here</strong></a>!</p>
          <img src="../assets/images/job-post.svg" alt="" />
        </div>
        <div class="col-lg-4">
          <h5>Win Win!</h5>
          <p>Let Barzurk show you what jobs are available!</p>
          <img src="../assets/images/job-celebrate.svg" alt="" />
        </div>
    </div>
  </div>

</div>
