<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barzurk</title>
    <% include ./partials/stylesheets %>
    <% include ./partials/scripts %>
  </head>
  <body>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main>
      <%- body %>
    </main>
    <footer>
      <div class="footer--container">
        Made with <img src="../assets/images/heart.svg" alt=""> in London
      </div>
    </footer>
  </body>
</html>
