body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.navbar-brand {
  font-family: 'Special Elite', cursive;
  background: url('../assets/images/home_text7.jpg');
  background-size: cover;
  color: transparent;
  -webkit-font-smoothing:antialiased;
  -webkit-background-clip:text;
  -moz-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  &:hover {
    cursor: default;
  }
}

.nav-link {
  margin: 0 50px;
  font-size: 20px;
  letter-spacing: 5px;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  &:hover{
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(10, 10, 10, 0.8);
  &:hover {
    color: rgba(50, 50, 50, 0.6);
  }
}


.navbar .navbar-nav {
    float: left;
    width: 85%;
    margin: 0 auto;
}

.navbar .navbar-collapse {
    text-align: center;
}

.landing-header {
  text-align: center;
  padding-top: 15vh;
  h1 {
    background: url('../assets/images/home_text7.jpg');
    background-size: cover;
    font-size: 15em;
    font-weight: bold;
    color: transparent;
    font-family: 'Special Elite', cursive;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
  }
  h3 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 2px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

main {
  color: #444;
}

.container {
  margin-top: 0;
  padding: 10px 0 0 0;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  z-index: -999;
}

#map {
  z-index: 0 !important;
  height: 92% !important;
  width: 100% !important;
  position: absolute !important;
}

.btn {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  color: #999;
  font-size: 20px;
  font-weight: 200;
  background: none;
  border: 1px solid  rgba(50, 50, 50, 0.2);
  outline: none;
  &:hover,
  &:active,
  &:focus {
    color: #000;
    background: none;
    border: 1px solid  rgba(250, 250, 250, 0.7);
    outline: none;
  }
}

.add_job_btn {
  float: none;
}

.title_dropdown {
  background: white;
  border: none;
  height: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.go_back_btn {
  padding: 5px;
  margin-left: 15px;
  float: none;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  &:hover {
    border: none;
    border-bottom: 1px solid rgba(150, 150, 150, 1);
  }
}

.bg-faded {
  background-color: rgba(250, 250, 250, 0.3);
}

.user_show_header {
  color: rgba(10, 250, 150, 1);
  font-size: 48px;
  margin-bottom: 20px;
}

.user_show_contact {
  margin-bottom: 50px;
}

.user-address li p {
  margin-bottom: 0;
}

.form-control {
  margin-bottom: 10px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #888;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:focus {
    border-bottom: 1px solid rgba(10, 250, 150, 0.6);
  }
}
//
// textarea {
//   height: 100%;
// }

.info {
  color: #222;
  font-size: 18px;
}

.find_me {
  z-index: 1000;
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  color: #999;
  margin: 20px 20px 0 0;
  right: 0;
  font-size: 24px;
  background: rgba(250, 250, 250, 0.7);
  border: 2px solid  rgba(50, 50, 50, 0.2);
  outline: none;
  &:hover,
  &:active,
  &:focus {
    color: #999;
    background: rgba(250, 250, 250, 0.9);
    border: 2px solid  rgba(10, 250, 150, 0.6);
    outline: none;
  }
}

.slider {
  padding-top: 5px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.09) 94%, rgba(231,56,39,0) 100%);
  position: absolute;
  z-index: 10;
  right: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  .note {
    margin-top: 5px;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
    #currentValue {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

// SLIDER //
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 40%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(10, 250, 150, 0.6);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(10, 250, 150, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  &:active {
    background: rgba(80, 250, 200, 1);
  }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(10, 250, 150, 0.6);
}
// END SLIDER //

.slider form {
  text-align: left;
  font-size: 18px;
}

.success {
  padding: 20px 25px;
  background: rgba(10, 250, 150, 0.6);
  h5{
    color: rgba(250, 250, 250, 1);
    z-index: 1000;
  }
}

.job a {
  color: rgba(10, 250, 150, 1);
}

.job-desc {
  text-align: justify;
}

.infowindow p {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px !important;
  margin-bottom: 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .landing-header {
    h1 {
      font-size: 9em;
    }
    h3 {
      font-size: 2em;
    }
  }
  .navbar-nav {
    width: 50%;
    margin: 0 auto;
  }
  .nav-link a {
    margin: 0 auto;
  }
}

@media only screen and (min-device-width : 319px) and (max-device-width : 480px) {
  .landing-header {
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  .container {
    padding: 5px;
  }

  ul {
    padding: 0;
  }

  .navbar-toggleable-md .navbar-collapse {
    width: 100%;
  }

  .nav-link {
    text-align: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}

/*** imports ***/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

/*** defines ***/
$height-span: 5px;
$width-span: 35px;

$height-gradient: 100vh;
$navbar-height: 65px;

$main-color: rgba(10, 250, 150, 1);
$main-color-inverse: #3B305F;

$trasparent-color: rgba(255,255,255,.1);
$inverse-color: rgba(59, 48, 95,1);

$def-color: #FFF;
$int-color: #777;
$act-color: #444;

$shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0   rgba(0,0,0,0.12);
$shadow-active: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);

@mixin background-gradient($a, $b) {
	background: $inverse-color; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, $a, $b); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom, $a, $b); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom, $a, $b); /*Fx 3.6-15*/
    background: linear-gradient( to bottom, $a, $b);
}

/*** general ***/
::-webkit-scrollbar {
  display: none;
}

.simple-text {
  letter-spacing: .025em;
}
/*** navbar ***/
.navbar-brand {
  height: 100%;
  line-height: 35px;

  & span {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.16);
    color: $int-color;

    &:nth-of-type(1) {
      color: $main-color;
    }
  }

  &:hover {

    span {
      text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

.navbar-default {
  min-height: $navbar-height;
  border: 0;
}


/*** menu full page ***/
.hide {
  display: none;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  overflow: hidden;
  transition: opacity .5s, visibility .35s, width .35s;


  &:after {
    content: '';
    background: $main-color;
    right: -200%;
    top: -200%;
    width: 200%;
    height: 200%;
    position: fixed;
    border-radius: 100%;
    transition: all .35s ease;
  }

  &.open {
    opacity: 1;
    visibility: visible;

    &:after {
      right: 0;
      top: 0;
      border-radius: 0%;
    }
   li {
      animation: fadeInRight .35s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .45s;
      }
      &:nth-of-type(3) {
        animation-delay: .55s;
      }
      &:nth-of-type(4) {
        animation-delay: .55s;
      }
    }
  }

	.menu-list {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  z-index: 100;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $def-color;
        text-decoration: none;
        overflow: hidden;
        padding: 8px 15px;
        transition: all .5s;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;

        &:hover:before,
         &:focus:before,
         &:active:before {
           width: 120%;
           height: 200%;
           border-radius: 100%;
           visibility: visible;
         }

        &:before {
          content: '';

          position: absolute;
          bottom: -55%;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 0%;
          background: $def-color;
          transition: all .5s;
          z-index: -1;
          visibility: hidden;
        }
      }
    }
  }
}
}


/*** sandwich ***/
.sandwich {
  width: $width-span;
  height: $height-span * 5;
  top: 15px;
  right: 18px;
  position: absolute;
  padding: 20px;
  cursor: pointer;

  & span {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: $width-span;
    height: $height-span;
    background-color: $main-color;
    transition: all .35s;
    box-shadow: $shadow;
    z-index: 50;

    &:nth-of-type(2) {
      top: 30px;
    }

    &:nth-of-type(3) {
      top: 40px;
    }
  }

  &.active {

    .top {
        transform: translateY(10px) translateX(0) rotate(45deg);
        background: $main-color-inverse;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: $main-color-inverse;
    }
  }

  &.active:hover {
    .top {
      box-shadow: $shadow-active;
    }

    .middle {
      box-shadow: $shadow-active;
    }

    .bottom {
      box-shadow: $shadow-active;
    }
  }
}

@media (max-width: 768px){
  .menu-list {
    font-size: 40px;
    li {
      a {
        padding: 8px 10px !important;
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
