body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}

.landing-header {
  background: rgba(10, 250, 150, 0.7);
  background-size: cover;
  text-align: center;
  z-index: 9;
  height: 70vh;
  .landing-container {
    display: block;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    ul {
      max-width: 200px;
      margin: 0 auto;
    }
    a {
      position: relative;
      color: #fff;
      border-radius: 20px;
      border: none;
      margin: 20px auto;
      float: left;
    }
  }
  h1 {
    margin: 50px 0 0;
    font-size: 7em;
    color: #fff;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
  }
}
p {
  font-size: 1.1em;
  text-align: center;
}
a {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

main {
  color: #444;
}
img {
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}
h5 {
  text-align: center;
}
.main {
  max-width: 800px;
  margin: 50px auto;
}
.container {
  margin-top: 0;
  padding: 10px 0 0 0;
}

.row {
  margin: 50px 0 100px;
}

.col-6,
.col-3 {
  text-align: center;
}
.footer--container {
  z-index: 10;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  bottom: 0;
  img {
    display: inline;
    width: 20px;
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  z-index: -999;
}
#map {
  z-index: 0 !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
}
.btn {
  display: inline;
  text-align: center;
  float: left;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  color: #999;
  font-size: 20px;
  font-weight: 200;
  background: none;
  border: 1px solid  rgba(50, 50, 50, 0.2);
  outline: none;
  &:hover,
  &:active,
  &:focus {
    color: #000;
    background: none;
    border: 1px solid  rgba(250, 250, 250, 0.7);
    outline: none;
  }
}
.add_job_btn {
  float: none;
}
.title_dropdown {
  background: white;
  border: none;
  height: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}
.bg-faded {
  background-color: rgba(250, 250, 250, 1);
}
.user_show_header {
  color: rgba(10, 250, 150, 1);
  font-size: 48px;
  margin-bottom: 20px;
}
.user_show_contact {
  margin-bottom: 50px;
}
.user-address li p {
  margin-bottom: 0;
}
.form-control {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #888;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:focus {
    border-bottom: 1px solid rgba(10, 250, 150, 0.6);
  }
}
.info {
  color: #222;
  font-size: 18px;
}
.slider {
  padding: 25px 0 50px;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.09) 94%, rgba(231,56,39,0) 100%);
  position: absolute;
  z-index: 10;
  right: 0;
  width: 100%;
  height: 30%;
  text-align: center;
  .note {
    margin-top: 5px;
  }
  p {
    font-size: 18px;
    margin-bottom: 0;
    #currentValue {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
// SLIDER //
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 40%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(10, 250, 150, 0.6);
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgba(10, 250, 150, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  &:active {
    background: rgba(80, 250, 200, 1);
  }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(10, 250, 150, 0.6);
}
// END SLIDER //

.slider form {
  text-align: left;
  font-size: 18px;
}
.success {
  padding: 20px 25px;
  background: rgba(10, 250, 150, 0.6);
  h5{
    color: rgba(250, 250, 250, 1);
    z-index: 1000;
  }
}
.job a {
  color: rgba(10, 250, 150, 1);
}
.job-desc {
  text-align: justify;
}
.infowindow p {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px !important;
  margin-bottom: 0;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .landing-header {
    h1 {
      font-size: 9em;
    }
    h3 {
      font-size: 2em;
    }
  }
}

@media only screen and (min-device-width : 319px) and (max-device-width : 480px) {
  .landing-header {
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
  .container {
    padding: 5px;
  }
  ul {
    padding: 0;
  }
}
.alert {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
    opacity: 0.5;
    padding: 5px;
  }
